{
    
    "extends": ["eslint:recommended", "plugin:react/recommended", "eslint-config-prettier", "prettier", "prettier/react"],
    "plugins": ["react"],
    "parser": "babel-eslint",
    "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "env": {
      "es6": true,
      "node": true,
      "amd": true,
      "browser": true
    },
    "rules": {
      "prettier/prettier": "error"
    },
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
      }
    }
  }
